body {
	font-family: Arial, Helvetica, sans-serif;
}

.tableWord {
	font-size: 1em;
	padding: 2px;
}

.tableWord tr{
	font-size: 1em;
	padding: 5px;
}

.tableWord td{
	font-size: 1em;
	padding: 7px;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

fieldset {
	border: 0;
}

label {
	display: block;
	margin: 5px 0 0 0;
}

.overflow {
	height: 200px;
}

.header-style{
	background-color: #bfa52e;
	text-align: center; 
}

.row-style{
	background-color: #8faef2;
}


ul li{
	font-size: 10px;
}


.wordDiv {

    padding: .5em .5em !important;
}

.formulaSakne { font-weight: 700; color: red; }

.formulaPiedeklis { font-weight: 700; color: red; }

.word-hint {font-size: 10px; font-style: italic;}

.nounVerb {
	font-size: 1em;
	padding: 2px;
	background-color: #8faef2;
	width: 200px;
	border: 1px solid;
	border-color: #0c2068;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}